/*
    Developed By: Gaurav Lokhande
    Email: gaurravlokhande@gmail.com
    Linkedin: https://www.linkedin.com/in/gauravlokhande
    Github: https://github.com/gauravxlokhande
    Trailhead: https://www.salesforce.com/trailblazer/gauravlokhande
    Instagram: gauravxlokhande
     */

.main-meet {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .heading {
    font-size: 45px;
  }
  .subheading {
    font-size: 20px;
  }
  .newmeet-joinmeet {
    display: flex;
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    button {
      height: 50px;
      color: white;
      background-color: orangered;
      border: none;
      border-radius: 20px;
      font-weight: 500;
      font-family: cursive;
      cursor: pointer;
      &:hover {
        background-color: white;
        color: black;
      }
    }
    input {
      width: 200px;
      padding: 10px;
      outline: none;
      font-size: 17px;
      overflow: hidden;
      font-family: cursive;
    }
  }

  hr {
    width: 60%;
    border: 1px solid white;
    border-radius: 5px;
  }
  .learnmore {
    font-size: 16px;
  }

  .createdby {
    font-size: 17px;
    span {
      color: gold;
      font-size: 40px;
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 15px;
  color: white;

  .logo {
    h1 {
      span {
        color: orangered;
      }
    }
  }

  .logout {
    display: flex;
    gap: 25px;
    align-items: center;
    color: white;
    h1 {
      font-size: 15px;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
    button {
      width: 75px;
      height: 30px;
      border-radius: 5px;
      font-size: 15px;
      font-weight: bold;
      border: none;
      cursor: pointer;
      background-color: orangered;
      color: white;
    }
  }
}
