.main-login {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  h1 {
    color: white;
  }

  input {
    width: 270px;
    height: 17px;
    outline: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
  }
  button {
    width: 100px;
    height: 50px;
    border-radius: 20px;
    border: none;
    color: #222222;
    font-weight: bold;
    background-color: #1cd99d;
    &:hover {
      background-color: white;
    }
  }
}

// Animation
body {
  background: #222222;
  overflow: hidden;
}

.square {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background: linear-gradient(#303030, #757575);
  z-index: -2;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background: #1cd99d;
  border-radius: 50%;
  z-index: -2;
}

.triangle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background: #f5f5f5;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  z-index: -2;
}
